@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ebebff;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: #344563;
}

h1,
h2 {
  font-weight: bolder;
  line-height: 40px;
  color: #091e42;
}

img {
  width: 100%;
}

section {
  padding: 20px;
  background-color: #fff;
}

button {
  width: fit-content;
  cursor: pointer;
  border: 1px solid #6070ff;
  color: #396df2;
  background-color: #fff;
  font-size: 17px;
  font-weight: 550;
  border-radius: 8px;
  padding: 15px 20px;
}

button:hover {
  background: #6070ff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: #fff;
}

button:focus {
  background: #2230d2;
  color: #fff;
}

input {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #172b4d;
  font-size: 17px;
  font-weight: 400;
  border-radius: 10px;
  padding: 10px 15px;
  margin-bottom: 20px;
  width: 300px;
}

input[type="text"],
input[type="email"] {
  border: 0.01px;
}

input:focus {
  outline: 0;
  background: #fff;
}

textarea {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #172b4d;
  margin: 20px auto;
  font-size: 17px;
  font-weight: 400;
  border-radius: 10px;
  padding: 10px 15px;
  width: 300px;
  height: 150px;
  resize: none;
}

textarea:focus {
  outline: none;
}

.wrapper {
  display: grid;
  justify-content: center;
  gap: 100px;
}

.front-wrapper {
  max-width: 375px;
  margin: 0 auto;
}

.row-wrapper {
  max-width: 350px;
  margin: 0 auto;
}

/* NAV STYLING */

.flex-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 7%;
  background-color: #fff;
}

.my-logo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  text-align: center;
  color: #6070ff;
  font-size: 20px;
}

.menu-list {
  display: none;
}

.menu-list li {
  padding-right: 20px;
  font-size: 20px;
  color: #344563;
}

.union-icon {
  width: 22px;
}

.union-icon img {
  width: 100%;
}

/* SECTION STYLING */

#headline-section {
  height: 600px;
  border-bottom-left-radius: 70px;
  background-image: url(./image/header-shapes\ mobile.png);
}

#contact-me {
  max-width: 375px;
  margin: 0 auto;
  background-position: right center;
  background-repeat: no-repeat;
  background-image: url(./image/contact_form_shape.png);
  background-color: #6070ff;
  margin-top: -150px;
  background-size: 60% 100%;
  border-top-left-radius: 70px;
}

.primary-text h2 {
  text-align: center;
  color: #fff;
  font-size: 40px;
  padding: 80px 0 30px 0;
}

.primary-text p {
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}

#about-myself {
  max-width: 375px;
  margin: 0 auto;
  padding: 100px 20px;
  border-top-right-radius: 70px;
}

.let-connect {
  padding-top: 10px;
  color: #7f8cff;
  font-size: 15px;
}

.about-wrapper .let-connect {
  margin-bottom: 20px;
}

.language li {
  font-size: 20px;
  font-weight: bold;
}

.with-border {
  border-bottom: 1px solid #ebebff;
  padding: 20px 0;
}

#resume {
  margin: 25px 0;
}

.hide-images {
  display: none;
}

.text-area h1 {
  font-size: 40px;
  margin-top: 90px;
  line-height: 45px;
  max-width: 300px;
}

.text-area p {
  font-size: 16px;
  padding-top: 30px;
  padding-bottom: 10px;
  line-height: 30px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social {
  display: flex;
  flex-direction: column;
}

.social .let-connect {
  margin: 20px 0;
}

.social-icons {
  display: flex;
  flex-direction: row;
}

.social-icons li img {
  width: 30px;
  padding-right: 10px;
  padding-top: 10px;
}

/* CARD WORKS STYLING */

.card-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
}

.row-reverse {
  flex-direction: column-reverse;
}

.min-card-images {
  width: auto;
}

.max-card-images {
  display: none;
}

.card-text h2 {
  font-size: 33px;
  padding: 10px 0;
  max-width: 200px;
}

.card-text ul {
  display: flex;
  margin-bottom: 20px;
}

.hide-text {
  display: none;
}

.topics li {
  color: #7a869a;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 15px;
}

.topic-languages li {
  background-color: #ebebff;
  color: #6070ff;
  padding: 8px 10px;
  border-radius: 12px;
  margin: 20px 10px;
}

.topics li:first-child {
  font-weight: bold;
  color: #344563;
}

.card-text p {
  font-size: 15px;
  max-width: 300px;
}

/* MEDIA QUERY STYLING */

@media (min-width: 768px) {
  /* NAV & HEADLINE SECTION STYLINGS USING MEDIA QUERY */

  .front-wrapper {
    max-width: 100%;
  }

  .menu-list {
    display: flex;
  }

  .union-icon {
    display: none;
    width: 22px;
  }

  #headline-section {
    height: 100vh;
    padding: 0 260px;
    border-bottom-left-radius: 200px;
    background-image: url(./image/Header_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .text-area h1 {
    font-size: 45px;
    margin-top: 0;
    max-width: 400px;
  }

  .text-area p {
    font-size: 20px;
  }

  .section-container {
    padding: 20% 20% 20% 15%;
  }

  /* NAV & HEADLINE SECTION STYLINGS USING MEDIA QUERY */

  .row-wrapper {
    min-width: 1250px;
  }

  .card-work {
    display: grid;
    align-items: center;
    justify-content: start;
    column-count: 2;
    column-gap: 20px;
    grid-template-columns: repeat(2, 50%);
    border-radius: 12px;
  }

  .card-text {
    min-height: 70%;
  }

  .card-text p {
    font-size: 16px;
    min-width: 90%;
    padding: 0 10px 20px 0;
  }

  .card-text h2 {
    font-size: 37px;
    padding: 0 10px 20px;
    min-width: 90%;
  }

  .topics li {
    padding-right: 10px;
    font-size: 18px;
  }

  .show-text {
    display: none;
  }

  .hide-text {
    display: inherit;
  }

  .bold {
    font-weight: bold;
    color: #344563;
  }

  .min-card-images {
    display: none;
  }

  .max-card-images {
    display: flex;
  }

  #contact-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url(./image/contact\ _form_background_shapes.svg);
    background-color: #6070ff;
    margin: -150px 0 0 0;
    background-size: 100% 100%;
    align-items: center;
    max-width: 100%;
    border-top-left-radius: 100px;
    padding: 20px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .primary-text p {
    font-size: 20px;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    max-width: 550px;
  }

  #about-myself {
    max-width: 100%;
    align-items: center;
    margin: 0;
    border-top-right-radius: 100px;
  }

  .language li {
    font-size: 20px;
    font-weight: bold;
  }

  .with-border {
    border-bottom: 1px solid #ebebff;
    padding: 20px 0;
  }

  #sub-list {
    display: inline-block;
  }

  .about-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .about-text p {
    max-width: 450px;
  }

  .about-wrapper .let-connect {
    margin-bottom: 20px;
  }

  .hide-images {
    display: inline-block;
    margin-right: 10px;
  }

  .show-images {
    display: none;
  }
}
